.frontpage-title {
    float:right;
    margin-right: 1em;
}
html, body, #frontpage, #expanalyze, #expedit {
    height: 100%;
    width: 100%;
}
#edit-vocabulary-fieldset .grid {
    display: grid;
    grid-template-columns: 9em 20em 6em 6em;
}
#edit-metadata-fieldset .grid {
    display: grid;
    grid-template-columns: 9em 50em;
}
#edit-vocabulary-fieldset label,
#edit-metadata-fieldset label {
    font-weight: bold;
    text-align: right;
    padding-right: 0.5em;
}
#edit-vocabulary-fieldset input {
    padding: 0px 4px;
    margin: 0px;
}
#edit-vocabulary-fieldset button {
    padding: 0px 4px;
    margin: 0px;
}
#edit-vocabulary-fieldset,
#edit-metadata-fieldset {
    margin-bottom: 1em;
}
#edit-upload {
    float: right;
}
#upload-button {
    vertical-align: middle;
}
#upload-file-name {
    font-weight: bold;
}
.exp-delete-button {
    border-radius: .5em;
    background: darkgray;
}
