/*

h1 {
    color: coral;
}

*/
* {
  margin:0;
}
.wrap {
    width: 100vw;
    height: 50vh;
}

.floatbottom {
    background-color: #FFFFFF;
    text-align:center;
    height: 50vh;
  }

.floatleft {
    float:left;
    width: 25vw;
    background-color: #FFFFF;
    text-align:center;
    height:50vh;
}

.floatright {
    float: right;
    background-color: #FFFFFF;
    width: 75vw;
    text-align:center;
    height:50vh;
}
